
/* ---------- GREY SCALE ---------- */

$offWhite  : #f9f9f9;
$lightGrey : #e3e3e3;
$bgGrey    : #eeeeee;
$platinum  : #cccccc;
$silver    : #888888;
$grey      : #4a4a4a;

/* ------ GOOGLE COLOR PALETTE ------- */

$googleRed:#eb4335;
$googleBlue: #4184f4;
$googleYellow: #fbbc03;
$googleGreen: #34a852;
$googleGray: #717171;
